.login-form-card {
    .login-form-header {

    }

    .login-form-content {
        margin: 1rem;
    }

    .login-form-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem;

        button {
            width: 100%;
        }
    }
}
