.layout-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .top-nav-container {
        height: 4rem;
        width: 100%;
    }

    .main-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: calc(100% - 4rem);

        .side-nav-container {
            width: 15%;
            height: 100%;
            background-color: #f5f5f5;
        }

        .drawer-content-container {
            width: 85%;

            .main-content {
                padding: 1rem;
                width: calc(100% - 2rem);
                height: calc(100% - 2rem);
                background-color: white;
            }
        }

        .drawer-content-container.full {
            width: calc(100vw);
        }

        .drawer-content-container.partial {
            width: calc(100vw - 15%);
        }
    }
}
