<div class="side-nav-content">
    <mat-nav-list role="list">
        <mat-list-item role="listitem" (click)="onClickNavigateToHome()">
            HOME
        </mat-list-item>
        <mat-list-item role="listitem" (click)="onClickNavigateManageProject()">
            MANAGE PROJECTS
        </mat-list-item>
        <mat-list-item role="listitem" (click)="onClickNavigateCreateProject()">
            CREATE PROJECT
        </mat-list-item>
        <mat-list-item role="listitem" (click)="onClickNavigateAbout()">
            ABOUT
        </mat-list-item>
    </mat-nav-list>
</div>
