.project-form-card {
    .project-form-header {

    }

    .project-form-content {
        margin: 1rem;
    }

    .project-form-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem;
    }
}
